# mac stuff
.DS_Store

# pytest
pytestdebug.log

# test files
# these are not cleaned up because it makes it easier to debug
test/files/2_triangles.nc
test/files/2_triangles_depth.nc
test/files/2_triangles_without_edges.nc
test/files/2_triangles_without_faces.nc
test/files/temp.nc
test/files/junk.nc
        
*.py[cod]

# C extensions
*.so

# Packages
*.egg
.eggs
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
.cache
.ipynb_checkpoints

#docs
docs/_build



# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
__pycache__

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
