#requirements.txt file for pyugrid

# NOTE: no version numbers, as so far, there is nothing version
#       specific -- though recent versions are probably required,
#       I have no idea what the minimums are.
#       If you run into a version-specific requirement -- please
#       add that version here.

numpy
scipy
netCDF4
pytest
